body {
  background-color: #060000;
  color: #e0e0e0;
  font-family: "Segoe UI", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  width: 600px;
  background-color: #1c1d15;
  border-radius: 20px;
  padding: 50px;
  box-shadow: 0 0 15px rgba(200, 235, 5, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #d9ff00;
}

.chat-box {
  height: 500px;
  overflow-y: auto;
  border: 4px solid #333;
  padding: 10px;
  background-color: #181818;
  border-radius: 8px;
  margin-bottom: 10px;
}

.user-msg,
.ai-msg {
  margin: 16px 0;
  padding: 10px;
  border-radius: 8px;
  width: fit-content;
  max-width: 80%;
}

.user-msg {
  background-color: #00d1ff;
  color: black;
  align-self: flex-end;
  margin-left: auto;
}

.ai-msg {
  background-color: #333;
  color: #e0e0e0;
  align-self: flex-start;
}

.input-area {
  display: flex;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 8px 0 0 8px;
  border: none;
  background-color: #2a2a2a;
  color: white;
}

button {
  background-color: #00d1ff;
  border: none;
  color: black;
  padding: 20px 20px;
  cursor: pointer;
  border-radius: 0 7px 7px 0;
  font-weight: bold;
}

button:hover {
  background-color: #00b4e0;
}
.navbar {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}

.navbar a {
  text-decoration: none;
  font-weight: bold;
}

